!!!5
html
  head
    title Assimilationator
    != css('application')
    link(href='http://fonts.googleapis.com/css?family=Faster+One', rel='stylesheet', type='text/css')
  body
    header
      .brand The Assimilationator
      .super TM
      .sub-2 Not just for women! Works great for Asians too!
      .sub-1 Translate your self-doubt into self-confidence with one easy click.
    #container
      .column.large
        .text-container#weak(contenteditable=true)
      .column.small
        #magic
      .column.large
        .text-container#strong
    != js('lib/jquery')
    != js('app')